
@scripts = {
    <script src="@routes.Assets.at("vendor/fullcalendar-1.6.1/fullcalendar.js")"></script>
    <script src="@routes.Assets.at("vendor/fullcalendar-1.6.1/gcal.js")"></script>

    <script>

        $(document).ready(function() {

            $('#calendar').fullCalendar({
                firstDay: 1,
                allDayDefault: false,
                ignoreTimezone: false,
                weekMode: 'variable',
                weekNumbers: true,

                eventSources: [
    @defining(Application.getLocalUser(session())) { user =>
        @user.teams.map { tp => @if(tp.party.extCalendarId) {
                    {  // @tp.party.name:
                       url: 'http://www.google.com/calendar/feeds/@(tp.party.extCalendarId)/public/basic',
                       color: '@(tp.party.eventsColor)'
                    },
    }}}
                    {
                        url: '@routes.Application.events()',
                        color: '#CC3333'
                    }
                ],

                eventClick: function(event) {
                    // opens events in a popup window
                    window.open(event.url, 'gcalevent', 'width=700,height=600');
                    return false;
                },

                loading: function(bool) {
                    if (bool) {
                        $('#loading').show();
                    }else{
                        $('#loading').hide();
                    }
                },

                monthNames: [ @Html(Messages("calendar.monthNames")) ],
                monthNamesShort: [ @Html(Messages("calendar.monthNamesShort")) ],

                dayNames: [ @Html(Messages("calendar.dayNames")) ],
                dayNamesShort: [ @Html(Messages("calendar.dayNamesShort")) ],

                timeFormat: {
                  agenda: 'HH(:mm){–HH(:mm)}',
                      '': 'HH(:mm){–HH(:mm)}:\n'
                 }
            });

        });

    </script>

}

@main("Welcome to Gambol", scripts = scripts) {

    <link media="screen" href="@routes.Assets.at("vendor/fullcalendar-1.6.1/fullcalendar.css")" rel="stylesheet" />
    <link media="print" href="@routes.Assets.at("vendor/fullcalendar-1.6.1/fullcalendar.print.css")" rel="stylesheet" />

    <div>TODO write content</div>
    <div id="loading" style="display:none">loading...</div>
    <div id="calendar"></div>

}