@(message: String, teamForm: Form[OrgUnit])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import helper._
@import helper.twitterBootstrap._

@scripts = {
    <script src="@routes.Assets.at("vendor/fullcalendar-1.6.1/fullcalendar.js")"></script>
    <script src="@routes.Assets.at("vendor/fullcalendar-1.6.1/gcal.js")"></script>

    <script>

        $(document).ready(function() {

            $('#todayAgenda').fullCalendar({
                defaultView: 'agendaDay',
                header: false,
                allDaySlot: false,
                firstHour: 13,
                height: 450,
                firstDay: 1,
                allDayDefault: false,
                ignoreTimezone: false,
                weekMode: 'variable',

                eventSources: [
    @defining(Application.getLocalUser(session())) { user =>
        @user.teams.map { tp => @if(tp.party.extCalendarId) {
                    {  // @tp.party.name:
                       url: 'http://www.google.com/calendar/feeds/@(tp.party.extCalendarId)/public/basic',
                       color: '@(tp.party.eventsColor)'
                    },
    }}}
                    {
                        url: '@routes.Application.events()',
                        color: '#CC3333'
                    }
                ],

                monthNames: [ @Html(Messages("calendar.monthNames")) ],
                monthNamesShort: [ @Html(Messages("calendar.monthNamesShort")) ],

                dayNames: [ @Html(Messages("calendar.dayNames")) ],
                dayNamesShort: [ @Html(Messages("calendar.dayNamesShort")) ],

                timeFormat: {
                  agenda: 'HH(:mm){–HH(:mm)}',
                      '': 'HH(:mm){–HH(:mm)}:\n'
                   },
                axisFormat: 'HH(:mm)'
            });

        });

    </script>

}

@main("Welcome to Gambol", scripts = scripts) {

    @subjectPresentOr() {


      <div class="row-fluid">
        <div class="span4">
            <h1>I dag <small>det sker</small></h1>
            <link media="screen" href="@routes.Assets.at("vendor/fullcalendar-1.6.1/fullcalendar.css")" rel="stylesheet" />
            <link media="print" href="@routes.Assets.at("vendor/fullcalendar-1.6.1/fullcalendar.print.css")" rel="stylesheet" />
            <div id="todayAgenda"></div>
         <!--Sidebar content-->
        </div>
       <div class="span8">
        <div class="hero-unit">
          @defining(Application.getLocalUser(session())) { user =>
              @user.teams.map { tp =>
              <dl>
                  <dt><a href="@routes.Application.teamIndex(tp.party.parent.slug, tp.party.slug)">@tp.party.parent.name | @tp.party.name</a></dt>
                  @tp.party.events.map { evt =>
                      <dd>@evt</dd>
                  }
              </dl>
              }

              @user.myEvents.map { evt =>
                  <p>@evt</p>
              }
          }
        </div>
       </div>
      </div>
    }{
      <div class="hero-unit">
          <h1>@message</h1>
          <p>Use this document as a way to quick start any new project.<br>
              All you get is this message and a barebones HTML document.</p>
      </div>
    }




<!-- table class="table-condensed table-bordered table-striped">
    <thead>
        <tr>
          <th colspan="7">
            <span class="btn-group">
            	<a class="btn"><i class="icon-chevron-left"></i></a>
            	<a class="btn active">Juli 2012</a>
            	<a class="btn"><i class="icon-chevron-right"></i></a>
            </span>
          </th>
        </tr>
        <tr>
            <th>Ma</th>
            <th>Ti</th>
            <th>On</th>
            <th>To</th>
            <th>Fr</th>
            <th>Lø</th>
            <th>Sø</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="muted">29</td>
            <td class="muted">30</td>
            <td class="muted">31</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
        </tr>
        <tr>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
        </tr>
        <tr>
            <td>19</td>
            <td class="btn-primary"><strong>20</strong></td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
        </tr>
        <tr>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td class="muted">1</td>
            <td class="muted">2</td>
            <td class="muted">3</td>
        </tr>
    </tbody>
</table -->



    <div class="row-fluid">
        <div class="span4">
           <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
        </div>
        <div class="span4">
           <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
        </div>
        <div class="span4">
            <h2>Opret dit hold</h2>
            <p>Opret dit hold og inviter dine holdkammerater med det samme.</p>
            <p><a class="btn btn-large btn-primary" href="@routes.ClubController.newClub"><i class="icon-plus-sign icon-white"></i>@Messages("gambol.club.new")</a></p>
        </div>
    </div>
}
