@(message: String, teamForm: Form[Team])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import helper._
@import helper.twitterBootstrap._

@import play.i18n._

@main("Welcome to Gambol") {

    @subjectPresentOr() {
      <div class="hero-unit">
      @defining(Application.getLocalUser(session())) { user =>
          @user.teams.map { tp =>
              <dl>
                  <dt><a href="@routes.Application.teamIndex(tp.team.parent.slug, tp.team.slug)">@tp.team.parent.name | @tp.team.name</a></dt>
                  <dd>
                  @tp.team.events.map { evt =>
                      <p>@evt</p>
                  }
                  </dd>
              </dl>
              }
          }
      </div>
      }{
      <div class="hero-unit">
          <h1>@message</h1>
          <p>Use this document as a way to quick start any new project.<br>
              All you get is this message and a barebones HTML document.</p>
      </div>
      }
    <div class="row-fluid">
        <div class="span4">
           <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
        </div>
        <div class="span4">
           <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
        </div>
        <div class="span4">
            <h2>Opret dit hold</h2>
            <p>Opret dit hold og inviter dine holdkammerater med det samme.</p>
            <p><a class="btn btn-large btn-primary" href="@routes.ClubController.newClub"><i class="icon-plus-sign"></i>@Messages.get("gambol.club.new")</a></p>
        </div>
    </div>
}
