@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang.code">
<head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap/bootstrap.min.css")">
    <style>

      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @@media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap/responsive.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap/bootswatch/united.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/main.css")">
</head>

<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="@routes.Application.index()">Gambol</a>

          <div class="btn-group pull-right">
          @subjectPresentOr() {
          	@defining(Application.getLocalUser(session())) { user =>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> @user.name
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile")</a></li>
              <li><a href="@routes.Account.link()">@Messages("playauthenticate.navigation.link_more")</a></li>
              <li class="divider"></li>
              <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout")</a></li>
            </ul>
            }
          }{
            <a href="@routes.Application.login()" class="btn btn-primary @("disabled".when(nav == "login"))">@Messages("playauthenticate.navigation.login")</a>
          }
          </div>

          @* Main button bar (on the left) *@
          <div class="nav-collapse">
            <ul class="nav">
              <li class="@("active".when(nav == ""))">
                  <a href="@routes.Application.index()">@Messages("playauthenticate.navigation.home")</a>
              </li>
              <li class="@("active".when(nav == "team"))">
         @subjectPresentOr() {
          	@defining(Application.getLocalUser(session())) { user =>
                  <a href="@routes.Application.teamIndex(user.defaultTeam.club.slug, user.defaultTeam.slug)">@Messages("gambol.navigation.team")</a>
                  }
             }{
                  <a href="@routes.Application.teamSearch()">@Messages("gambol.navigation.team")</a>
             }
              </li>
                @subjectNotPresent() {
			    	<li class="@("active".when(nav == "signup"))"><a href="@routes.Application.signup()">@Messages("playauthenticate.navigation.signup")</a></li>
			    }
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      @content

      <hr>

      <footer>
        <p>&copy; Gambol 2013</p>
      </footer>

    </div>

    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>

    <script src="@routes.Assets.at("js/bootstrap/bootstrap-transition.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-alert.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-modal.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-dropdown.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-scrollspy.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-tab.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-tooltip.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-popover.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-button.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-collapse.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-carousel.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-typeahead.min.js")"></script>

    <script src="@routes.Application.jsRoutes" defer="defer"></script>
</body>
</html>
